<header class="navbar navbar-fixed-top navbar-default">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
    <div class=" container ">
        <%= link_to "Work app", root_path, id: "logo" %>
        <nav>
          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "新規登録", new_user_registration_path %></li>
                    <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
          </div>
        </nav>
    </div>
</header>
